.podium-2024 {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.podium-2024::before {
  background-image: url(/src/img/podium_2024.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  filter: blur(2px) brightness(0.6);
  inset: 0;
  position: absolute;
  transform: scale(1.1);
}

h1 {
    color: #ffffff;
    font-family: "Rouge Script", cursive;
    font-size: 100px;
    text-shadow: 2px 2px 5px #000000c8;
    z-index: 1;
}